{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Login{% endblock %}</h1>
<br>
    {% if form.errors %}
    <p>Your username and/or password are incorrect, please try again.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            <div class="mb-3">
            {{ form.as_p }}
            {% csrf_token %}
        </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" class="btn btn-primary" value="Log-in"></p>
        </form>
    <a href="{% url 'register' %}">Register</a> or <a href="{% url 'password_reset' %}">reset password</a>.
    </div>
{% endblock %}