{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Events{% endblock %}</h1>
<p>Events in bold are on Fridays and Saturdays.</p>
{% for month, events in events_by_month.items %}
<h2>{{ month }}</h2>
{% for event in events %}
        <a
        href="{{ event.get_absolute_url }}"
        class="{% if event.fri_or_sat %}fri_or_sat{% else %}not_fri_or_sat{% endif %}">
            {{ event.headline_act }} - {{ event.venue.name }}: {{ event.text_date }} {% if event.ticket_price_text == 'Free' %}
                ({{ event.ticket_price_text }})
                {% elif event.ticket_price_text == 'unknown' %}
                
                
                {% else %}
                (£{{ event.ticket_price }})
                {% endif %}</a><br>
{% endfor %}
<br>
{% endfor %}

{% endblock %}